<div class="elementor-element elementor-element-658973ad elementor-widget elementor-widget-xs-heading" data-id="658973ad" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="xs-heading.default">
  <div class="elementor-widget-container">
    <div class="xs-heading text-left">
      <h3 class="section-subtitle">Check Speed Performance</h3>
      <h2 class="section-title">How quickly does your <span>website </span> load?</h2>
    </div>
  </div>
</div>
<div class="elementor-element elementor-element-19f39ad5 elementor-widget elementor-widget-shortcode" data-id="19f39ad5" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;,&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="shortcode.default">
  <div class="elementor-widget-container">
    <div class="elementor-shortcode"><div role="form" class="wpcf7" id="wpcf7-f776-p782-o1" lang="en-US" dir="ltr">
      <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
        <%= render 'refresh_or_download' %>
        <script>
          window.setTimeout(function(){
            document.querySelector('#sync').click();
          }, 3000)
        </script>
        <%= link_to "", speed_test_path(@speed_test), remote: true, style: 'display: none;', id: 'sync' %>
      </div>
    </div>
  </div>
</div>
